<a href="https://colab.research.google.com/github/sekadiv/AI-ML/blob/main/ApiroriAlgorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from IPython.display import Image

In [5]:
dataset=pd.read_csv("Market_Basket_Optimisation.csv")

In [6]:
dataset.head(2)

    shrimp    almonds avocado  ... frozen smoothie spinach olive oil
0  burgers  meatballs    eggs  ...             NaN     NaN       NaN
1  chutney        NaN     NaN  ...             NaN     NaN       NaN

[2 rows x 20 columns]

In [8]:
dataset.shape

(7500, 20)

150000